body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #2c3e50;
}

h3 {
  color: #34495e;
}

.container {
  max-width: 700px;
  background: #ffffff;
  margin: 30px auto;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

input,
select,
button {
  padding: 10px;
  margin: 8px 0;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
}

button {
  background-color: #3498db;
  color: black;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

button:nth-child(2) {
  background-color: #2ecc71;
}

button:nth-child(2):hover {
  background-color: #27ae60;
}

hr {
  margin: 25px 0;
}

ul {
  background: #ecf0f1;
  padding: 15px;
  border-radius: 6px;
}

li {
  margin: 8px 0;
}
#matchPercent {
  font-size: 22px;
  font-weight: bold;
  color: #27ae60;
  margin-bottom: 15px;
}

